extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/metas") meta 관리

  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 meta 목록

    .card-body
      a.mb-3.btn.btn-primary(href="/metas/new") 메타 직접 등록
      .table-responsive
        table.table.table-bordered(width='100%' cellspacing='0')
          thead
              tr
                th id  
                th Meta명
                th Rows
                th 확장자
                th 상태
          tbody
            each meta in metas
              tr
                td #{meta.id}
                td 
                  a(href=`/metas/${meta.id}`) #{meta.title}
                td #{meta.rowCounts}
                td #{meta.extension}
                td #{meta.isActive ? '활성':'비활성'}