extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/metas") API 관리
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 메타정보 상세보기

    .card-body
      .text-right.mb-3
          a.btn.btn-outline-primary(href=`/metas/${meta.id}/api`) API 배포
      
      .table-responsive
          table.table.table-bordered(width='100%' cellspacing='0')
            thead
              tr.text-center
                th(colspan="4") Meta 정보
              tr
                th 데이터명
                td(colspan="3") #{meta.title}
            tbody
              tr
                th id
                td #{meta.id}
                th oridinalFileName
                td #{meta.originalFileName}
              tr
                th extension
                td #{meta.extension}
                th filePath
                td #{meta.filePath}
              tr
                th rowCounts
                td(colspan="3") #{meta.rowCounts}
      
      .text-right.mb-3
        a.btn.btn-outline-primary(href=`/metas/${meta.id}/edit`) 컬럼 정보 수정
        button.ml-1.btn.btn-outline-danger(type="button", data-Toggle="modal", data-target="#deleteModal") Meta data 삭제
              

      .table-responsive
        table.table.table-bordered(width='100%' cellspacing='0')
          thead
            tr.text-center
              th(colspan="4") 컬럼 정보
            tr
              th id  
              th OriginalColumnName
              th ColumnName
              th Type
          tbody
            each col in meta.columns
              tr
                td #{col.id}
                td #{col.originalColumnName}
                td #{col.columnName}
                td #{col.type}

  .modal.fade(id="deleteModal" tabindex='-1' role='dialog' aria-labelledby='deleteModal' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title 삭제하기
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action=`/metas/${meta.id}?_method=DELETE`, method="post")
          .modal-body
            | 배포된 API 정보도 삭제됩니다. <br>
            | 정말 삭제하시겠습니까?
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') 닫기
            input.btn.btn-danger(type="submit", value="삭제")
