extends ../../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/databaseConnections") 연결 관리
        | / 
        a(href=`/databaseConnections/${dbc.id}`) DB 상세보기
        | / #{table}
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 테이블(#{table}) 상세보기

    .card-body
      .table-responsive
        table.table.table-bordered(width='100%' cellspacing='0')
          thead
            tr.text-center
              th(colspan='3') column 목록
            tr
              th ColumnName
              th Type
              th Size
          tbody
            each column in columns
              tr
                td #{column.columnName}
                td #{column.type}
                td #{column.size}