div.form-group.mt-3
  label(for="methodInput") Method
  span.ml-3.d-inline-block.badge.badge-pill.badge-secondary(data-container="body" data-toggle="popover" data-placement="right" data-content="Http metod를 선택해주세요. 현재 GET 기능만 지원합니다.") i
  select#methodInput.form-control(name=`method`)
    option(value='get' select) GET
div.form-group.mt-3
  label(for="entutyNameInput") Entity Name
  span.ml-3.d-inline-block.badge.badge-pill.badge-secondary(data-container="body" data-toggle="popover" data-placement="right" data-content=`Entity Name를 입력해주세요. 복수형 영어단어를 사용하길 권장합니다. 다음과 같이 url이 생성됩니다. /api/${application.nameSpace}/EntityName`) i
  input.form-control(type="text", name="entityName", id="entutyNameInput", required=true, value=api?api.entityName:"")
div.form-group.mt-3
  label(for="descriptionInput") description
  span.ml-3.d-inline-block.badge.badge-pill.badge-secondary(data-container="body" data-toggle="popover" data-placement="right" data-content="API에 대한 설명을 입력해주세요.") i
  textarea.form-control(name="description", id="descriptionInput", required=true, rows="5") #{api?api.description:""}
.text-right
  input.btn.btn-outline-primary(type="submit", value="저장")