extends ../layout

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/apis") API 관리
        | Api 정보 수정
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 상세보기

    .card-body
      .table-responsive
          table.table.table-bordered(width='100%' cellspacing='0')
            thead
              tr.text-center
                th(colspan="4") API 정보
              tr
                th Api명
                td(colspan="3") #{api.title}
            tbody
              tr
                th id
                td #{api.id}
                th entityName
                td #{api.entityName}
              tr
                th 컬럼수
                td #{api.columnLength}
                th 데이터수
                td #{api.dataCounts} rows
              tr
                th endpoint
                td(colspan="3") #{api.url}
              tr
                th Meta 정보
                td(colspan="3") 
                  a(href=`/metas/${api.meta.id}`) /metas/#{api.meta.id}
      form(action=`/apis/${api.id}?_method=PUT`, method="post")
        .table-responsive
          table.table.table-bordered(width='100%' cellspacing='0')
            thead
              tr.text-center
                th(colspan="5") 컬럼 정보
              tr
                th id  
                th columnName
                th type
                th hidden
                th searchOptions
            tbody
              each col in api.columns
                tr
                  td #{col.id}
                  td #{col.columnName}
                  td #{col.type}
                  td 
                    select.form-control(name=`hidden-${col.id}`)
                      option(value='true', selected= col.hidden == true) true
                      option(value='false', selected= col.hidden == false) false
                  td
                    div.form-check-inline
                      input#check1.form-check-input(type="checkbox") 
                      label.form-check-label(for="check1") lessThan
                    div.form-check-inline
                      input#check2.form-check-input(type="checkbox") 
                      label.form-check-label(for="check2") moreThan
                    div.form-check-inline
                      input#check3.form-check-input(type="checkbox") 
                      label.form-check-label(for="check3") equal
        .text-right.mb-3
          input.btn.btn-outline-primary(type="submit", value="저장")