extends ../layout
include _mixin

block content
  ol.breadcrumb
    li.breadcrumb-item.active 
        a(href="/applications") Application 관리
        | /
        a(href=`/applications/${application.id}`) Application 상세보기
        | / API 설정
        
  .card.mb-3
    .card-header
      i.fas.fa-table
        span.ml-3 API 설정

    .card-body
      .table-responsive
        table.table.table-bordered(width='100%' cellspacing='0')
          thead
            tr.text-center
              th(colspan="6") API 정보
          tbody
            tr
              th id
              td #{api.id}
              th method
              td #{api.method}
              th EntityName
              td #{api.entityName}
            tr
              th url
              td(colspan="5") #{api.fullUrl}
            tr
              th description
              td(colspan="5") #{api.description}
      
      .text-right.mb-3
        a.btn.btn-outline-primary(href=`/applications/${application.id}/apis/${api.id}/edit`) API 정보 수정
      
      .table-responsive
        table.table.table-bordered(width='100%' cellspacing='0')
          thead
            tr.text-center
              th(colspan="6") Meta 정보
          tbody
            if(!api.meta)
              tr
                td.text-center(colspan="6") 
                  div
                    span 등록된 메타 정보가 없습니다.
            else
              if(api.meta.dataType == "file")
                +fileInfo(api.meta)
              else if(api.meta.dataType == "dbms")
                +dbmsInfo(api.meta)
              else
                tr
                  td.text-center(colspan="6") 
                    div
                      span 등록된 메타 정보가 없습니다.

      .text-right.mb-3
        if(api.meta)
          a.btn.btn-outline-primary(href=`/metas/${api.meta.id}/edit`) 메타 정보 수정
          button.ml-1.btn.btn-outline-danger(type="button", data-Toggle="modal", data-target="#deleteMetaModal") Meta data 삭제
        else
          a.btn.btn-outline-primary(href=`/applications/${application.id}/apis/${api.id}/meta/new`) 메타 정보 등록

  if(api.meta)
    .modal.fade(id="deleteMetaModal" tabindex='-1' role='dialog' aria-labelledby='deleteModal' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title 삭제하기
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          form(action=`/metas/${api.meta.id}?_method=DELETE`, method="post")
            .modal-body
              | 배포된 API 정보도 삭제됩니다. <br>
              | 정말 삭제하시겠습니까?
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') 닫기
              input.btn.btn-danger(type="submit", value="삭제")